# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/SANNABI/FileContentIndex/a40a6d74-094d-49fd-8159-6a587466df6c.vsidx
.vs/SANNABI/v17/.suo
.vs/SANNABI/v17/Browse.VC.db
.vs/SANNABI/v17/DocumentLayout.backup.json
.vs/SANNABI/v17/DocumentLayout.json
.vs/SANNABI/v17/ipch/b73b49313a93e099.ipch
.vs/SANNABI/v17/Solution.VC.db
