# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/SANNABI/FileContentIndex/a40a6d74-094d-49fd-8159-6a587466df6c.vsidx
.vs/SANNABI/v17/.suo
.vs/SANNABI/v17/Browse.VC.db
.vs/SANNABI/v17/DocumentLayout.backup.json
.vs/SANNABI/v17/DocumentLayout.json
.vs/SANNABI/v17/ipch/b73b49313a93e099.ipch
.vs/SANNABI/v17/Solution.VC.db
.vs/SANNABI/FileContentIndex/1fb6b3d2-5cfe-4b22-9600-4f8dd7328f19.vsidx
.vs/SANNABI/FileContentIndex/743e32f5-1756-449c-abc4-bd28d1176400.vsidx
.vs/SANNABI/FileContentIndex/9535ad1b-471f-4e90-af92-0b795e1b9a93.vsidx
.vs/SANNABI/FileContentIndex/c9558e76-747b-499d-8fc2-aff9b16344ad.vsidx
.vs/SANNABI/FileContentIndex/f2b9ba51-3d99-4ea2-9644-9265dea8b6c2.vsidx
.vs/SANNABI/FileContentIndex/f539fc84-3cf0-4822-bde4-b5169f39ba24.vsidx
.vs/SANNABI/v17/.suo
.vs/SANNABI/v17/Browse.VC.db
.vs/SANNABI/v17/DocumentLayout.backup.json
.vs/SANNABI/v17/DocumentLayout.json
.vs/SANNABI/FileContentIndex/9535ad1b-471f-4e90-af92-0b795e1b9a93.vsidx
.vs/SANNABI/FileContentIndex/c9558e76-747b-499d-8fc2-aff9b16344ad.vsidx
.vs/SANNABI/v17/.suo
.vs/SANNABI/v17/Browse.VC.db
.vs/SANNABI/v17/DocumentLayout.backup.json
.vs/SANNABI/FileContentIndex/f2b9ba51-3d99-4ea2-9644-9265dea8b6c2.vsidx
.vs/SANNABI/FileContentIndex/c9558e76-747b-499d-8fc2-aff9b16344ad.vsidx
.vs/SANNABI/FileContentIndex/f2b9ba51-3d99-4ea2-9644-9265dea8b6c2.vsidx
.vs/SANNABI/v17/.suo
.vs/SANNABI/v17/Browse.VC.db
.vs/SANNABI/v17/DocumentLayout.backup.json
.vs/SANNABI/v17/DocumentLayout.json
.vs/SANNABI/FileContentIndex/9535ad1b-471f-4e90-af92-0b795e1b9a93.vsidx
*.vsidx
*.db
*.json
